html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin-bottom: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: "Times New Roman", Times, serif;
    text-rendering: optimizeLegibility;
}
h2 {
    font-weight: bold;
    font-style: oblique;
}

.card img {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #08819D;
}

.card p {
    width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(10);
}

.carousel-inner{
    margin-top: 50px;
    width:100%;
    height: 100%;
}

.infoTable {
    margin-top: 40px;
    margin-bottom: 40px;
}

.houseDescription {
    width: 75%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.houseDescription p {
    font-size: 1.2em;
    font-family: "Times New Roman", Times, serif;
    text-rendering: optimizeLegibility;
}

.contactForm {
    width: 70%;
    margin: auto;
    border-radius: 5px;
    background-color: #FAFAFA;
    padding: 20px;
}

.contactForm input[type=date] {
  width: 20%;
  padding: 12px;
  border: 1px solid #FAFAFA;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: inline;
  font-size: 15px;
}

.contactForm input[type=text], input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #FAFAFA;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactForm input[type=submit] {
    width: 50%;
    background-color: #4343B3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactForm input[type=submit]:hover {
    background-color: #5555BA;
}

.landlordCard {
    margin-top: 10px;
    width: 25rem;
    margin: auto;
}

.singleLandlord {
    margin: auto;
}

.singleLandlord img {
    vertical-align: middle;
    width: auto;
    height: auto;
    border-radius: 50%;
}
