body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
    width: 100%;
    flotat: left;
    font-size: 20px;
    height: 1rem;
    margin-top: 1em;
    padding: 30px 10px;
    background-color: #FDFDFD;
    color: black;
}

.navbar {
    width: 100%;
    overflow: hidden;
    background-color: #5578bf;
    margin-bottom: 30px;
    border-top: 2px solid #000000;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    margin: auto;
}

.navbar a {
    float: left;
    font-size: 18px;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
}

.navbar a:hover { color: white; background-color: #4C6CAB; }
